@import "../../styles/variables";

.addToDo {
  width: 2rem;
  height: $headerControlsHeight;
  border-radius: 3px;
  cursor: pointer;
  .plusIcon {
    width: 2rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #424242;
  }
  &:hover {
    background-color: $halfWhiteColor;
  }
}
