@import "../../styles/variables";

.asideMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 328px;
  height: 100vh;
  padding-top: 5rem;
  background-color: $lightBaseColor;
  z-index: -1;
  transition: 0.5s;
  nav {
    ul {
      margin-left: 3rem;
      li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5rem 0 0.5rem 1rem;
        cursor: pointer;
        border-radius: 8px 0 0 8px;
        transition: 0.1s;
        i {
          color: $darkColor;
          margin-right: 1rem;
        }
        a {
          text-decoration: none;
          color: $darkColor;
          font-size: 1.3em;
        }
        &:last-of-type {
          margin: 0;
        }
        &:hover {
          background-color: white;
        }
      }
    }
  }
}

.hideAside {
  left: -328px;
}
