@import "../../styles/variables";

.viewCalendar {
  width: 2rem;
  height: $headerControlsHeight;
  border-radius: 3px;
  cursor: pointer;
  margin: 0.5rem 0;
  .calendarIcon {
    width: 2rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #424242;
  }
  &:hover {
    background-color: $halfWhiteColor;
  }
}

@media screen and (min-width: 768px) {
  .viewCalendar {
    margin: 0 0 0 1rem;
  }
}
