$baseColor: #9bb6ff;
$lightBaseColor: #c8d4fd;
$secondaryColor: #e78300;
$lightSecondaryColor: #ffc77d;
$darkColor: #424242;
$halfWhiteColor: rgba(255, 255, 255, 0.5);
$smallBorderRaduis: 5px;
$headerControlsHeight: 2rem;

@mixin button {
  width: 6rem;
  height: 1.5rem;
  border: 1px solid $darkColor;
  border-radius: $smallBorderRaduis;
  transition: 0.3s;
  cursor: pointer;
}

@mixin headerPopUps {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 3rem;
  right: 10rem;
  width: 30%;
  height: 10rem;
  min-width: 400px;
  padding: 0.5rem;
  background-color: $lightBaseColor;
  border-radius: 10px;
  transition: 0.5s ease-out;
}
